*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* border:1px solid red ; */
}


#maincon{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    


}

.card{
    width:30%;
    border-radius: 20px;
    -moz-box-shadow: -3px -3px 21px 11px rgb(1, 23, 221);
    box-shadow: -3px -3px 21px 11px rgba(41, 57, 203, 0.893);
    height: 500px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    flex-direction: column;
    color: white;
    gap: 10px;
    background-image: url(https://cdn.pixabay.com/photo/2022/09/21/17/02/blue-background-7470781_1280.jpg);
    background-size: cover;
}
.card img{
    height: 200px;
    border-radius: 50%;
}
.card ul{
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    list-style: none;
}

.card ul i {
    font-size: 25px;
}
.card ul li a{
    text-decoration: none;
    color: white;
}

.card button{
    width: 120px;
    height: 35px;
    background-color: rgba(51, 102, 244, 0.747);
    color: white;
    border-radius: 10px;
    border: none;
}





@media (max-width: 768px) {
    .card {
        width: 50%;
        padding: 15px;
        font-size: 15px;
    }

    .card img {
        height: 150px;
        width: 150px;
    }

    .card ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 70%;
        /* padding: 10px; */
        /* gap: 10px; */
    }

    .card img {
        height: 120px;
        width: 120px;
    }

    .card ul i {
        font-size: 20px;
    }

    .card button {
        height: 35px;
        max-width: 100px;
        font-size: 14px;
    }
}